/*
* @Author: ASUS
* @Date:   2018-07-10 21:09:40
* @Last Modified by:   ASUS
* @Last Modified time: 2018-07-10 21:10:17
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;

}
a{
	text-decoration: none;
}